body {
    margin: 0;
    padding: 50px;
    background: white;
    display: flex;
    justify-content: center;
}

.game-info {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;

}

.square-container {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
}

.square-buttons {
    font-size: 150px;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;   
}

.clear-board {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.clear-button {
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;   
    font-size: 30px;
    width: 300px;
    height: 60px;
    font-family: 'Roboto', sans-serif;
}