body {
    margin: 0;
    padding: 50px;
    background: rgb(54,110,144);
    background: linear-gradient(90deg, rgb(24, 52, 70) 0%, rgb(42, 87, 116) 100%);
    display: flex;
    justify-content: center;
}

h1 {
    margin: 0px;
}

.game-info {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-bottom: 15px;

}

.square-container {
    justify-content: center;
    display: grid;
    gap: 2px;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}

.square-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 85px;
    color: white;
    background-color: rgb(255, 255, 255, .2);
    border: 1px solid white;
    border-radius: 7px;   
}

.clear-board {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.clear-button {
    background-color: rgb(255, 255, 255, .2);
    border: 1px solid white;
    color: white;
    border-radius: 3px;   
    font-size: 30px;
    width: 200px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
}